@font-face {
    font-family: one;
    src: url(../fonts/irsansb.ttf);

}

@font-face {
    font-family: two;
    src: url(../fonts/irsans.ttf);

}

.main-wrapper {
    text-align: center;
}
.one {
    z-index: 200;
    padding-top: 600px;

}

.welcome {
    font: 25px "one";
    color: orangered;
    padding: 10px;
    margin-top: 30px;
}
.welcome-text {
    font: 15px "one";
    padding: 10px;
}
.three {
    display: block;
    text-align: center;
}
.img {
    padding: 10px;
    margin: 10px;
}

.seperator {
    margin: 40px;
}
.hgallery {

    /*align-items: center;*/
    /*text-align: center;*/
}
.align {

    /*margin:  10px 10px 10px 10px;*/
    /*height: 285px;*/
    /*width: 285px;*/
    /*display: block;*/
    margin: auto;
    /*width: 90%;*/
    width: 300px;
    height: 300px;
    padding: 10px;
    display: block;
}
.four {
    text-align: center;
    margin-left: 80px!important;
    /*right: 10%!important;*/
}

.contact {
    text-align: center;
}
.desc3 {
    color: black;
    /*background-color: orangered;*/
    display:inline-block;
    padding: 5px 10px 5px 10px;

}
.desc4 {
    margin-top: 80px;
    color: black;
    /*background-color: blue;*/
    display:inline-block;
    padding: 5px 10px 5px 10px;

    font-size: 45px;
}
.desc5 {
    margin-top: 80px;
    color: black;
    /*background-color: blue;*/
    display:inline-block;
    padding: 5px 10px 5px 10px;

    font: 25px "one";
}
.did {
    color: orangered;
    text-align: center;
    margin-top: 60px;
    font:   30px "one";
}
.did2 {
    padding: 10px;

    font:   20px "two";
}
.did3 {
    padding: 10px;
    color: orangered;
    font:   18px "one";
}
.about {
    text-align: center;
}

.list {
    font-size: 20px;
}
.contactHeader {
    font: 40px "two";
    color: orangered;
}
.contactHeader2 {
    font: 35px "one";
    /*color: orangered;*/
    padding: 5px!important;
}

.footerT {
    color: white;
    text-align: center;
    font:   30px "one";
    margin-bottom: 30px;
}
.footer {
    color: white;
    text-align: center;
    font:   20px "two";
    margin-right: 30px;
    padding: 5px;
}